html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 3rem;
    border: 2px solid black;
    border-radius: 1rem;
    max-width: 300px;
    height: 470px;
}

h1 {
    margin:0;
}
 
.h1-color {
    color: #55F991
}

h2 {
    color: #D5D4D8;
    font-size: 20px;
}

#length {
    width: 3rem;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

#passwordGeneratorForm {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
    align-items: center;
    justify-content: cener;
}

hr {
    margin: 15px auto;
    width: 95%;
    border: 1px solid #2F3E53;
}

button {
    height: 42px;
    border-radius: 6px;
    padding: 9px, 17px, 9px, 15px;
    background: #10B981;
    color: white;
}

#generate {
    grid-column: span 2;
}

.passwordDisplay {
    background: #273549;;
    text-align: center;
    border-radius: 6px;
    line-height: 39px;
    color: #55F991;
}